html,
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.button {
	border-radius: 3px;
	background-color: #f4511e;
	border: none;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.error {
	color: red;
}

.input {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-bottom: 10px;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.new-recipe{
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 400px;
}

.recipes {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.recipe{
    margin: 10px;
    width: 200px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px
}

.recipe-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-link {
    color: #333;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px
}